// General style rules for the entire website.

:root {
    --font-body: 'Open Sans', Arial, sans-serif;
    --font-mono: monospace;

    --font-size-title: 40px;
    --font-size-subtitle: 35px;
    --font-size-topic: 22px;
    --font-size-body: 18px;
    --font-weight-title: 700;
    --font-weight-body: 400;

    --color-bg: #2f4f4f;
    --color-text: #ffffff;
    --color-icon: #ffffff;
    --color-button: #808080;
    --color-shadow: #333333;
    --color-card: #666666;

    --shadow-translate-distance: 5px;
    --shadow: drop-shadow(var(--shadow-translate-distance) var(--shadow-translate-distance) 2px var(--color-shadow));
    --shadow-opposite-translation: calc(-1 * var(--shadow-translate-distance)) calc(-1 * var(--shadow-translate-distance));

    --border-radius-card: 10px;
    --text-padding-card: 30px;

    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
    line-height: 1.5;
    font-weight: var(--font-weight-body);
    font-size: var(--font-size-body)
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg);
    background-size: 100vw 100vh;
}

h1,
h2 {
    font-weight: var(--font-weight-title);
}

h1 {
    font-size: var(--font-size-title)
}

h2 {
    text-align: center;
    font-size: var(--font-size-subtitle);
    margin-top: 100px;
}

h3 {
    font-size: var(--font-size-topic);
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

a, a:visited {
    color: inherit;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
