@import 'tailwindcss';

@theme {
    --font-uncut: 'AtkinsonHyperlegibleMono', ui-monospace, monospace;
    --shadow-indent: inset -2px 1px 2px rgba(0, 0, 0, 0.8), -1px 0.5px 2px rgba(255, 255, 255, 0.8);
    --shadow-raised:
        inset -1px 0.5px 2px rgba(255, 255, 255, 0.8), -1px 0.5px 2px rgba(0, 0, 0, 0.8);

    /* Brand Colors */
    --color-brand-bg: #222;
    --color-brand-primary: #6366f1;
    --color-brand-secondary: #333;
    --color-brand-accent: #f43f5e;

    /* Text Colors */
    --color-brand-text: rgba(221, 221, 221, 0.8);
    --color-brand-text-highlight: #fff;
    --color-brand-text-accent: #ff6900;
}

@font-face {
    font-family: 'AtkinsonHyperlegibleMono';
    src: url('/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.tff') format('tff');
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@layer base {
    section {
        @apply mt-28;
        scroll-margin-top: 5rem;
    }

    p,
    li {
        @apply text-brand-text;
    }
}

:root {
    /* Typography */
    --font-size-huge: 5rem;
    --font-size-tiny: 0.75rem;

    font-family: var(--font-uncut);
    font-weight: 300;
    font-synthesis: none;
}
